/*основной цвет текста(--main-color)-серый-#757575*/
/*текст заголовков (--title-color) -чёрный-#212121*/
/*вспомогательный цвет-белый-#ffffff*/
/* акцент-цвет выделения (--accent-color)-синий #2196F3*/
/*цвет mail  и tel в футере- rgba(255, 255, 255, 0.6);*/

/*цвет body-#2196F3*/
/*цвет header+main белый-#ffffff*/
/*цвет  hero-#2f303a*/
/*цвет section-team-#f5f4fa*/
/*цвет footer-#2f303a*/

/*основной текст (--main-font) Roboto*/
/*текст лого (--logo-font) Raleway*/

/*===============about===============*/
:root {
  --main-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  --main-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus,
.footer-address-map:hover,
.footer-address-map:focus,
.footer-address-mail:hover,
.footer-address-mail:focus,
.footer-address-tel:hover,
.footer-address-tel:focus {
  color: var(--accent-color);
}
/*===============end about===============*/

.page-body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--main-color);
  background-color: #e5e5e5;
}

.main {
  background-color: #ffffff;
}

/*===============header===============*/
.header {
  background-color: #ffffff;
}

.logo-web {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.286;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.286;
  letter-spacing: 0.03em;
  color: #212121;
}

.navigation-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}

.address-mail,
.address-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}
/*===============end header===============*/

/*===============hero===============*/

.section-hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
}
/*===============end hero===============*/

/*===============advantages===============*/
.section-advantages {
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.advantages-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
/*===============end advantages===============*/

/*===============what-are-we-doing===============*/
.section-doing {
}

.section-doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/*===============end what-are-we-doing===============*/

/*===============our-team===============*/
.section-team {
  background-color: #f5f4fa;
}

.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}
/*===============end our-team===============*/

/*===============footer===============*/
.footer {
  background-color: #2f303a;
}

.logo-web-foother {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.286;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-foother {
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.286;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address-map {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address-mail,
.footer-address-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*===============end footer===============*/

/*===============portfolio===============*/
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background: #2196f3;
}

/*===============section portfolio===============*/
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
/*===============end section portfolio===============*/

/*===============end portfolio===============*/
